%h2
  Members

= selection_nav

= paginate(@users)

%table.admin
  %thead
    %tr
      %th{ width: '10%' }
        Number
      %th{ width: '40%' }
        Email
      %th{ width: '15%' }
        Role
      %th
        Creation Date
  %tbody
    - @users.each do |user|
      %tr.lg
        %td
          = link_to(user.id, admin_member_path(user))
        %td
          = link_to(user.email, admin_member_path(user))
        %td
          = render(partial: 'tags', object: user)
        %td
          .timeline
            = user.created_at.to_s(:long)
            .action
              Registered
    - if (@users.empty?)
      %tr
        %td{ colspan: 4 }
          .empty
            No users found.

- right_column do
  = render(partial: 'roles')
  = render(partial: 'admin/invitations/sidebar')
